/* Estruturas Básicas */

#corpo{
    margin: 20px 0 20px 0;
}
.bloco{
    width: 100%;
    margin: 15px 0 15px 0;
    border: 5px solid rgb(255, 248, 150);
    padding: 10px;
}
.bloco h3{
    padding-bottom: 15px
}
.RB-DOM input{
    margin-right: 20px;
}
.container-codigo{
    background-color: rgb(253, 247, 154);
    padding: 0 0 0 10px;
    border-left: 10px solid rgb(34, 34, 34);
}

/* Textos */

.destaque-texto{
    color: red;
}
#cabecalho{
    margin-top: 30px;
}
#cabecalho h3{
    text-align: justify;
}
.texto-modificando{
    text-align: center;
}
.p-modificando{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: justify;
    padding: 0 200px 0 200px;
}
/* Exemplos */

.objeto-exemplo{
    margin-bottom: 10px;
}
.objeto-p{
    text-align: right;
}